@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

* {
	padding: 0;
	margin: 0;
	color: #fff !important;
	font-family: Jua;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url("../img/wallpaper.jpeg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
	text-align: center;
	padding: 5px;
	margin: 0;
}

p {
	text-align: center;
	padding: 5px;
	margin: 0;
}

.logo {
    border-radius: 50px;
	justify-content: center;
	align-items: center;
	text-align: center;
}


.socials {
	justify-content: center;
	align-items: center;
	text-align: center;
}

i {
    margin: 10px;
}

i:hover {
    cursor: pointer;
    font-size: 20px;
    transition: 0.5s;
}